.NavigationBar{
    display: flex;
    height: 3em;
    width:100%;
    justify-content: space-around;
    background-image: linear-gradient(to right bottom,
    rgba(23, 31, 31, 0.54),
    rgba(9, 11, 12, 0.54));
    align-items: center;
    .logocontainer{
        display: flex;
        font-family: 'Piedra', cursive;
        font-size: 3em;
        color: brown;
        img{
            width:1em;
            height:1em; 
        }
    }
    MobileMenu{
        display: none;
    }
    .signlocation{
        position: relative;
        
    .aa{       
            position: absolute;
            z-index: 11;
            height: 100vh;
           right:15vw;
        }
    }
    
    .menuitems{
          display: flex;
            justify-content: space-between;
            font-family: 'Tropical Asian Demo';
            font-size: 3em;
        div{
          margin-left:  0.8em;
             color:  white;
            }
     
    
}
}
@media only screen and (max-width : 768px){
.NavigationBar{
    justify-content: flex-start;
    width: 100vw;
    .menuitems{
        display: none;
    }
    MobileMenu{
            display: block;
      
    }
}
}