
<div class="mobilemenuicon">
    <a  (click)="OnToggleIcon()"class="icon">
        <img class="iconimage"alt="dropdownicon" src="../../../assets/images/3equal.svg"/>
    </a>
    <div [ngStyle]="{display:GetStatus()}"class="dropmenuitems">
        <div routerLink="/about"> About Us</div>
        <div  routerLink="/meal"> Meals</div>
        <div  routerLink="/order"> Order</div>
        <div class="signlocation">
            <a (click)="OnToggleSignInIcon()" class="signin"
             >   
             <div *ngIf="authState !== 'signedin'"class='aa'> Signin</div>
            </a> 
            <div [ngStyle]="{display:GetSigninStatus()}">
             <amplify-authenticator *ngIf="authState !== 'signedin'"class='aa'></amplify-authenticator>
            </div>
         </div>
        <amplify-sign-out *ngIf="authState === 'signedin' && user" button-text="Signout"></amplify-sign-out>

    </div>
</div>