.mobilemenuicon{
    position: relative;
    display: inline-block;
    .icon{
        text-decoration: none;
        color: red;
        width:3em;
    }
    .dropitems{ 
    display: none;
    position: absolute;
    z-index: 5;
    width: 40vw;
    font-size: 2em;
    }
}