<div class='aboutsection'>
   
    <div class='about_wrapper' >
       
        <h2>Your Choices Matter</h2>
        <p>For the past 40 years, 40 million people have made their own personal burger at Burgershack.
             And they do so because we provide  fresh, delicious, and healthy food. 
             Founded in 1979, Burgershack is the one of  the leading food chains 
             in America.  Our commitment to allowing customers to make their own custom burgers 
             , signature sidedishes, and premium dining experiences is what has defined Burgershack for more than 30 successful years.
            </p>
            <h1 class="titlesection1">About</h1>
            <h1 class="titlesection2"> US</h1>
            <img  class="largeimage" src="../../../assets/images/streets.jpg"/>
            <div class=" frame"></div>
            <img  class="medimage bflip" src="../../../assets/images/burgerflip.jpg"/>
            <img  class="medimage streetc" src="../../../assets/images/night.jpg"/>
    </div>
</div>