.aboutsection{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    .about_wrapper{
        position: relative;
        .aboutbackground{
            height: auto;
            width:100vw;
        }
        h2{
            font-family: 'Spartwell';
            position: absolute;
            font-size: 4em;
            top:5em;
            left:6em;
            color: white;
           
        }
        .frame{
            position: absolute;
            left:3em;
            width:64vw;
            height: 90vh;
            border-left: brown double 0.5em;
            border-top: brown double 0.5em;
            
        }
        p{
            font-family: 'Againts';
            position: absolute;
            font-size: 1.7em;
            width: 20em;
            top:17em;
            left:14em;
            color: white;
        }
        .largeimage{
            position: absolute;
            height: 90vh;
            left:60em;
            top:3em;
        }
        h1{
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-family: 'Spartwell';
            position: absolute;
            font-size: 6em;
            color: white;
        }
        .titlesection1{
            top:4em;
            left:16em;
           
        }
        .titlesection2{
           
            top:6.5em;
            left:16em;
           
        }
        .medimage{
            width: 20em;
            height: 20em;
            
        }
        .streetc{
            position: absolute;
            top: 3em;
            left: 40em;
        }
        .bflip{
            position: absolute;
            top: 3em;
            left: 20em;
        }
     

    }
}
@media only screen and (max-width : 768px){
    .aboutsection{
        .about_wrapper{
    .medimage{
        display: none;
    }
    .titlesection1{
display: none;
    }
    .titlesection2{
display: none;
    }
    .largeimage{
        position: absolute;
        height: 100vh;
        left:0em;
        top:0em;
    }
    p{
        font-family: 'Againts';
        position: absolute;
        font-size: 1.4em;
        width: 40vh;
        top:11.5em;
        left:2em;
        color: white;
        z-index: 5;
    }
    .frame{
    left:0em;
    }
    h2{
        font-family: 'Spartwell';
        position: absolute;
        font-size: 4em;
        top:0.2em;
        left:1em;
        color: white;
        z-index: 5;
    }
     }
    }
}